.img{
    height:300px;
    width:400px;
    border:none;  
}
.pt{
    font-size:50px;
    font-size:bold;
    font-size:underline;
}
h1{
    color:red;
    font-size:40px;
}
p{
    font-size:30px;
    font-size:medium;
}
.btn{
    border-color:black;
}
h2{
    font-size:30px;
    color:blue; 
}
.but{
    border-color:black;
}